.buy
    padding-bottom: 11rem
    
.buy__wrapper
    display: flex
    position: relative

.buy__description
    width: 42rem

.buy__header
    width: 38rem

.buy__img
    position: absolute

.buy__wrapper:nth-child(1)
    margin-bottom: 12.8rem
    
    &>.buy__img
        width: 80rem
        left: 36rem
        top: -19.3rem

.buy__wrapper:nth-child(2)
    justify-content: end
    
    &>.buy__img
        width: 68.7rem
        left: -20rem
        top: -10.8rem

    &>.buy__description        
        margin: -1.2rem 2rem 0 0

        &>.buy__conditions
            padding-bottom: 4.2rem
            
    