.events
    position: relative
    padding-bottom: 4rem

.evens__header
    width: 60rem

.events__description
    width: 44rem

.events__img-wrapper
    position: absolute
    display: flex
    gap: 2.2rem
    transform: rotate(2deg)
    top: 18.4rem
    // rigth: 0.9rem 

    &>div
        display: flex
        flex-direction: column
        gap: 2.2rem

    &>div:first-child
        padding-top: 22.8rem

.events__img
    width: 45.6rem
    height: 45.6rem

.events__img img
    border-radius: 6.4rem

.events__img-upper
    position: relative

    &:nth-child(4)
        width: 28rem
        left: 78rem
        top: -23rem

    &:nth-child(5)
        width: 34rem
        left: -20rem
        top: -23rem

    &:nth-child(6)
        width: 43rem
        left: 67rem
        top: -5rem

.events__slider
    display: none

@media (max-width: 768px)
    // .events__slider
    //     padding-bottom: 14.4rem

    .evens__header
        width: 100%

    .events__description
        width: 100%
        padding-bottom: 4.2rem

    .events__img-wrapper
        display: none

    .events__img-upper
        position: absolute

        &:nth-child(4)
            width: 14rem
            left: 23.4rem
            top: 28rem
            z-index: 11

        &:nth-child(5)
            display: none

        &:nth-child(6)
            display: none

    .events__slider
        display: block

    .swiper
        width: 34.4rem
        height: 41.5rem
        margin: 0 auto 2.8rem auto

    .swiper-slide
        width: 34.4rem
        height: 34.4rem
        

        & img
            border-radius: 4.8rem

    .events__slider-button-wrapper
        position: relative
        display: flex
        justify-content: center
        gap: 1.6rem
        top: -2.4rem


        & div
            width: 4.8rem

    .swiper-button-prev
        position: relative
        margin-right: 1.6rem

        &::after
            display: none    

    .swiper-button-next
        position: relative

        &::after
            display: none    